html, body {
    height: 100%;
    place-items: center;
}


#chat-container {
    width: 100%;
    height: 100vh;
    background: #14213d;
}

.groupList {
    background: #e5e5e5;
    padding-left: 0;
    padding-right: 0;
}

.groupItem.active {
    background: #fca311;
}

.groupItem:hover {
    background: #ffba08;
}

.indigroup {
    font-weight: bold;
    color: #000000;
    display: inline;
}

.createdAt {
    color: #000000;
    float: right;
    font-size: x-small;
}

.groupDescription {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: smaller;
    color: #000000;
}

.activeSetting {
    background: #fca311;
}

.settings {
    padding-top: 10px;
}

    .settings:hover {
        /*font-size: larger;*/
        background: #ffba08;
    }

.toast-warning {
    background-color: #9c0a0ad9 !important;
}

.toast-successful {
    background-color: green !important;
}

.groupContainer {
    height: 100%;
    display: none;
}

.whiteboardContent{
    height:100%;
    background-color:white;
}